.wrapper__grid {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: [header-start] 100px [header-end] auto [last-line];
    justify-content: stretch;
    align-content: stretch;

    margin: 0;
}

.wrapper__header {
    grid-row: header-start / header-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font: 600 ;
}

.wrapper__main {
    grid-row: header-end / last-line;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.wrap__main {
    grid-column: 1;

    display: grid;
    grid-template-columns: 25px 1fr 15px 3fr;
    grid-auto-flow: dense;

    background-color: rgba(233, 150, 122, 0.5);
}

.main {
    grid-column: 4;
}

.wrapper__flex {
    display: flex;
    flex-flow: row wrap;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wrap__sort{
    display: none;
}

.flex__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    
  /*  border: 1px solid black;  */
}
.flex__item:nth-of-type(8n-7) {
    flex: 0 0 33.3333%;
}
.flex__item:nth-of-type(8n-6) {
    flex: 0 0 66.6666%;
}
.flex__item:nth-of-type(8n-5) {
    flex: 0 0 33.3333%;
}
.flex__item:nth-of-type(8n-4) {
    flex: 0 0 33.3333%;
}
.flex__item:nth-of-type(8n-3) {
    flex: 0 0 33.3333%;
}
.flex__item:nth-of-type(8n-2) {
    flex: 0 0 66.6666%;
}
.flex__item:nth-of-type(8n-1) {
    flex: 0 0 33.3333%;
}
.flex__item:nth-of-type(8n) {
    flex: 0 0 100%;
}

.wrap__main img {
    width: 100%;
    height: auto;
}

.wrap__label {
    grid-column: 2;
}

.label__sort {
    height: 40px;
    padding: 5px;
    padding-left: 10px;

    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgba(233, 127, 92, 0.5);
}

.art1 {
    grid-column: 1;
    height: 100%;
    width: 100%;
    background-color: white;
}

.art2 {
    grid-column: 3;
    height: 100%;
    width: 100%;
    background-color: white;
}

.wrap__rating {
    grid-column: 2;
    
    background-color: rgb(255, 102, 0);
}

.wrapper__footer {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: burlywood;
}

.wrap__adress {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 35px;
}